{% include 'header.html' %}
{% include 'nav.html' %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h1>Hola! te saluda DiegoDev</h1>
                <p class="col-12 parrafo">
                     <span class="fw-bold text-white">Ingresar:</span>
                    <a href="/analisis/" class="btn btn-warning mx-3">Analisis de datos DP - MC</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form action="/analisis/guardar_excel" class="mb-3" id="formulario" method="post" enctype="multipart/form-data">
                    <label for="archivo" class="form-label" >Small file input example</label>
                    <input class="form-control form-control-sm" id="archivo" name="archivo" type="file">
                    <div>
                        <label class="form-label mt-2" for="nombre">Descripcion de Archivo</label>
                        <input class="form-control" type="text" name="nombre" id="nombre">
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Subir Archivo</button>

                </form>
                <p class="display-6 fw-bold text-warning"> {{result}} </p>
            </div>
        </div>
    </div>
{% include 'footer.html' %}

