{% include 'header.html' %}
{% include 'nav.html' %}

<div class="container-fluid">
    <h1 class="text-center my-2">{{title}}</h1>
    <div class="row my-2">
        <div class="col-12 col-md-3">
            <input type="text" class="form-control" placeholder="Buscar por dimension">
        </div>
        <div class="col-12 col-md-3">
            <input type="text" class="form-control" placeholder="Buscar por presentacion">
    
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-dark table-hover table-stripped align-middle">
            <thead class="align-middle">
                <tr>
                    <th>Dimensión</th>
                    <th>Subdimensión</th>
                    <th>Responsable</th>
                    <th>Area</th>
                    <th>Descripcion</th>
                    <th>Presentación</th>
                    <th>Mes de Compra</th>
                    <th>Fecha de Actividad</th>
                    <th>Motivo de Actividad</th>
                </tr>
            </thead>
            <tbody id="table-pme">
                
            </tbody>
        </table>
    </div>
    
</div>

<script src="{{url_for('static', path='../static/js/pre_sep.js')}}" type="module"></script>
{% include 'footer.html' %}